.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12%;
}

.contacts-container h2 {
    margin: 25px 0;
}

.contacts-container p {
    color: #5f5148;
    align-self: center;
    font-size: 24px;
    font-weight: 300;
}

.contacts-container a {
    color: #5f5148;
    transition: all 0.3s ease;
}

.contacts-container a:hover {
    color: #8c7d6a;
    text-decoration: none;
}

.contacts-container .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/contacts-back.png");
    background-size: cover;
    padding: 5% 8%;
}

.contacts-container .wrapper .location {
    display: flex;
    flex-direction: column;
}

#map {
    width: 400px;
    height: 400px;
    align-self: end;
}

.contacts-container .wrapper .contacts hr {
    height: 2px;
    opacity: 0.8;
    color: #5f5148;
    width: 80%;
}

.contacts-container .wrapper .contacts img {
    margin-top: 50px;
    width: 200px;
}