.error-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container img {
    width: 300px;
}

.error-container h2 {
    margin: 0;
    font-weight: 200;
    font-size: 200px;
    line-height: 1;
}

.error-container h3 {
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

.error-container h4 {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}