.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    font-weight: 700;
    height: 80px;
    background: linear-gradient(#cdc2b9, #f5f2f0);
}

#home-link {
    padding: 10px;
    font-size: 46px;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info a {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

#location {
    height: 40px;
    border-right: 1px solid;
}

.auth {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: right;
    height: 40px;
    color: #f5f2f0;
    border-radius: 60px;
    transition: all 0.3s ease;
    z-index: 2;
}

.auth-button {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #5f5148;
    border-radius: 60px;
    height: 100%;
    transition: all 0.3s ease;
}

.auth-button a {
    padding: 0 15px;
    cursor: pointer;
    color: #f5f2f0;
    font-size: 18px;
    text-decoration: none;
    word-break: keep-all;
    transition: all 0.3s ease;
}

.auth-button:hover {
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
    outline: none;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    height: 100%;
    min-width: 20px;
    padding: 0 10px;
    font-size: 18px;
    background-color: #5f5148;
    border-radius: 60px;
    transition: all 0.3s ease;
}

.auth:hover .account {
    color: #5f5148;
    background-color: #f5f2f0;
}

.dropdown-content {
    display: none;
    position: relative;
    margin: -29px -2px 0 -2px;
    padding: 30px 0 1px 0;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    background-color: #f5f2f0;
    z-index: -1;
}

.dropdown-content a {
    margin: 7px 0;
    padding: 0 7px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cdc2b9;
}

.auth:hover .dropdown-content {
    display: block;
}

.dropdown-content hr {
    color: #5f5148;
    margin: 0 5px;
}
