.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    font-weight: 700;
    height: 80px;
    background: linear-gradient(#cdc2b9, #f5f2f0);
}

#home-link {
    padding: 10px;
    font-size: 46px;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info i {
    color: #5f5148;
}

.info a {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

#location {
    height: 40px;
    border-right: 1px solid;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
    color: #f5f2f0;
    background-color: #5f5148;
    border: 2px solid #5f5148;
    border-radius: 60px;
    transition: all 0.3s ease;
}

.auth:hover {
    color: #5f5148;
    background-color: #f5f2f0;
}

.auth:hover #log-link {
    color: #5f5148;
}

.auth-button a {
    padding: 0 15px;
    cursor: pointer;
    color: #f5f2f0;
    font-size: 18px;
    text-decoration: none;
    word-break: keep-all;
    transition: all 0.3s ease;
}

.user-email {
    cursor: pointer;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    min-width: 20px;
    padding: 0 10px;
    color: #5f5148;
    font-size: 18px;
    background-color: #f5f2f0;
    border-radius: 60px;
    transition: all 0.3s ease;
}
