* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../images/home.png");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    color: #fff;
    margin-top: 150px;
    align-self: center;
    font-size: 72px;
    font-weight: 300;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
}

.home-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-container .btn:hover {
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
    outline: none;
}