.details-container {
    background-color: #ffffff;
    display: flex;
    margin: 50px 15%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.details-container .subject-title {
    font-size: 36px;
    font-weight: 300;
}

.details-container .img-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 66%;
}

.details-container .img-container img {
    height: fit-content;
    max-width: 60%;
    object-fit: contain;
}

.details-container .subject-data {
    font-size: 18px;
    width: 100%;
}

.edit-subject-data-links {
    display: flex;
}

.details-container .subject-data .form-container {
    margin-top: 20px;
}

.details-container .subject-data .reservation-info {
    display: flex;
    justify-content: left;
    font-size: 20px;
    margin-bottom: 15px;
}

.details-container .subject-data .reservation-info i {
    margin: 6px;
}

.details-container .subject-data .reservation-info a {
    color: #5f5148;
    text-decoration: underline;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.details-container .subject-data td {
    padding: 10px;
}

.details-container .subject-data .subject-field-name {
    color: #888888;
}