.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px 15%;
}

.table-container h3 {
    margin-bottom: 20px;
}

.table-container th {
    vertical-align: middle;
    text-align: center;
}

.table-container td {
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
}

.table-container td:hover {
    overflow: visible;
    white-space: normal;
}

.table-container td i {
    font-size: 12px;
    margin-right: 5px;
}