.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px 15%;
}

.table-container h3 {
    margin-bottom: 20px;
}

.table-container th {
    vertical-align: middle;
    text-align: center;
}

.table-container td {
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.table-container td:hover {
    overflow: visible;
    white-space: normal;
}

.table-container td i {
    font-size: 12px;
    margin-right: 5px;
}

.pages-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}

.pages-navigation a {
    font-size: 30px;
    color: #5f5148;
    transition: all 0.3s ease;
}

.pages-navigation a:hover {
    font-size: 30px;
    color: #8c7d6a;
}